body {
  font-family: $fontMain;
  background-color: $colorWhite;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;

  @include responsive1439 {
    font-size: 16px;
    line-height: 20px;
  }

  &.hidden {
    overflow: hidden;
  }

  &.index-page {
    .header {
      .logo {
        svg {
          path {
            fill: $colorWhite;
          }
        }
      }

      &-link {
        @include text-decoration-hover($colorWhite);

        &--phone {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.51309 7.23812C7.20909 8.68774 8.15787 10.0464 9.35945 11.248C10.561 12.4495 11.9197 13.3983 13.3693 14.0943C13.494 14.1542 13.5563 14.1841 13.6352 14.2071C13.9156 14.2888 14.2598 14.2301 14.4973 14.0601C14.5641 14.0123 14.6212 13.9551 14.7355 13.8408C15.0851 13.4912 15.26 13.3164 15.4357 13.2021C16.0986 12.7711 16.9532 12.7711 17.6161 13.2021C17.7919 13.3164 17.9667 13.4912 18.3163 13.8408L18.5111 14.0357C19.0426 14.5671 19.3083 14.8329 19.4527 15.1182C19.7397 15.6858 19.7397 16.3561 19.4527 16.9236C19.3083 17.209 19.0426 17.4747 18.5111 18.0062L18.3535 18.1638C17.8239 18.6934 17.5591 18.9582 17.199 19.1605C16.7995 19.3849 16.179 19.5463 15.7208 19.5449C15.3079 19.5437 15.0257 19.4636 14.4612 19.3034C11.4278 18.4424 8.56545 16.8179 6.17747 14.4299C3.78949 12.042 2.16502 9.1796 1.30405 6.1462C1.14384 5.58175 1.06374 5.29953 1.06251 4.88658C1.06114 4.42836 1.22251 3.80787 1.44693 3.40837C1.64918 3.04833 1.91399 2.78352 2.44361 2.2539L2.60124 2.09626C3.13269 1.56482 3.39841 1.2991 3.68379 1.15476C4.25135 0.867686 4.92162 0.867686 5.48918 1.15476C5.77456 1.2991 6.04028 1.56482 6.57172 2.09626L6.76659 2.29113C7.1162 2.64074 7.291 2.81554 7.40529 2.99132C7.83628 3.65421 7.83628 4.50879 7.40528 5.17168C7.291 5.34746 7.1162 5.52226 6.76659 5.87187C6.65228 5.98618 6.59512 6.04334 6.54728 6.11015C6.37727 6.34758 6.31857 6.69184 6.40029 6.97219C6.42329 7.05108 6.45322 7.11343 6.51309 7.23812Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
        }
      }
    }
    .menu {
      background-color: transparent;
    }
  }

  &.inner-page {
    // background-color: $colorYellow;

    .header {
      color: $colorBlack;
    }

    .lang {
      a {
        &:hover {
          text-decoration-color: $colorBlack;
        }

        &.active {
          text-decoration-color: $colorBlack;
        }

        &::before {
          background-color: $colorBlack;
        }
      }
    }

    .burger-line {
      background-color: $colorBlack;
    }

    .menu li::before {
      background-color: $colorBlack;
      opacity: 0.7;
    }

    .header__bottom {
      position: relative;
      z-index: 2;
      margin-top: 20px;

      @include responsive767 {
        margin-top: 0;
        position: static;
      }

      @include before {
        left: -100%;
        width: 300%;
        height: 61px;
        z-index: -1;
        background-color: #fffcf5;
        pointer-events: none;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);

        @include responsive767 {
          display: none;
        }
      }
    }

    .logo {
      &__text {
        color: $colorBlack;
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 1680px;
  padding: 0 20px;
  margin: 0 auto;
}

label,
textarea,
input {
  -webkit-appearance: none;
  font-family: $fontMain;
  @include border-radius(0);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  footer,
  .footer {
    margin-top: auto;
  }

  &.visible {
    overflow: visible;
  }
}

.logo {
  position: relative;
  transition: opacity 0.3s;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 33px;
  @include invisLink;
  font-size: 22px;

  @include responsive1439 {
    font-size: 20px;
    gap: 25px;
  }

  @include responsive1279 {
    font-size: 16px;
  }

  @include responsive1023 {
    font-size: 14px;
    line-height: 20px;
    height: 26px;
    gap: 15px;
  }

  @include responsive767 {
    font-size: 9px;
    gap: 10px;
  }

  &:hover {
    opacity: 0.75;
  }

  picture {
    display: block;
    position: relative;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  svg {
    width: 50px;
    min-width: 50px;

    @include responsive1439 {
      width: 40px;
      min-width: 40px;
    }

    @include responsive1279 {
      width: 30px;
      min-width: 30px;
    }

    @include responsive767 {
      width: 20px;
      min-width: 20px;
    }
  }

  &__text {
    color: $colorWhite;
    text-transform: uppercase;
    font-weight: 300;
    white-space: nowrap;
  }
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.selectric {
  border: 0;
  background: transparent;
  width: 100%;
  height: 47px;
  width: 100%;
  @include border-radius(0);

  .label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    padding: 10px 0;
    padding-right: 15px;
    margin: 0;
    color: $colorBlack;
  }

  .button {
    width: 48px;
    height: 100%;
    background: transparent;
    display: flex;
    background-image: url("../img/arrow_bottom.svg");
    background-position: center;
    background-repeat: no-repeat;
    @include transition(all 0.3s);

    &::after {
      display: none;
    }
  }
}

.selectric-wrapper {
  border: 0;
  outline: none;

  &.selectric-hover {
    .selectric {
      border-color: $colorBlack;
    }
  }

  &.selectric-open {
    .selectric {
      border-color: $colorBlack;

      .button {
        @include transform(scale(1, -1));
      }
    }
  }

  &.selectric-above {
    .selectric-items {
      border: solid 1px $colorBlack;
    }

    .selectric-scroll ul {
    }
  }
}

.selectric-items {
  background: transparent;
  background-color: $colorWhite;
  border: 1px solid $colorBlack;
  overflow: hidden;
  @include border-radius(16px);
  @include box-shadow(none);
  z-index: -1;
  min-width: 140px;
  right: 0;
  left: auto;
}

.selectric-scroll {
  border: 0;
  ul {
    padding-top: 5px;

    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #7b7b7b;
      padding: 8px;
      @include transition(all 0.3s);

      &.highlighted,
      &.selected {
        background: transparent !important;
        text-decoration: underline;
        color: $colorBlack;
      }
      &:hover {
        background: transparent !important;
        color: $colorBlack;
      }
    }
  }
}

.selectric-open {
  z-index: 4;
}

// modals base

.modal {
  font-family: $fontMain;
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  color: #292929;
}

.modal.is-open {
  display: flex;
  z-index: 15;
  position: fixed;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 50px 0;
  max-width: 580px;
  position: relative;
  margin: auto;
}

.modal__content {
  padding: 0;
  margin: 0;
  background-color: $colorWhite;
  position: relative;

  .link {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    @include transition(all 0.3s);
    color: #4c535b;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.modal__inner {
  position: relative;
}

.modal__close {
  @include transition(all 0.3s);
  position: absolute;
  right: 45px;
  top: 45px;
  display: flex;
  z-index: 10;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  align-items: center;
  gap: 11px;

  svg {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.75;
  }
}

.modal__content {
  .scroll {
    &::-webkit-scrollbar {
      width: 5px;
      @include border-radius(10px);
      margin-right: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9;
      @include border-radius(10px);
    }

    &::-webkit-scrollbar-thumb {
      background: $colorBlack;
      @include border-radius(10px);
    }
  }
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}

div {
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    left: 5px;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.33);
    @include border-radius(10px);
  }

  scrollbar-color: rgba(255, 255, 255, 0.33) transparent;
  scrollbar-width: thin;
}

.swiper-controls {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 216px;
  margin: 8px auto 0;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
  top: auto !important;
  left: 0;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 5;

  .swiper-pagination-bullet {
    width: 16px;
    height: 1px;
    background-color: rgba(233, 233, 233, 1);
    opacity: 1;
    border-radius: 0;
    margin: 0 !important;
    flex: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $colorBlack;
  }
}

.btn-swiper-prev {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.5303 0.469668C7.8232 0.762558 7.8232 1.23744 7.5303 1.53033L2.06066 7L7.5303 12.4697C7.8232 12.7626 7.8232 13.2374 7.5303 13.5303C7.2374 13.8232 6.7626 13.8232 6.4697 13.5303L0.469668 7.5303C0.176777 7.2374 0.176777 6.7626 0.469668 6.4697L6.4697 0.469668C6.7626 0.176777 7.2374 0.176777 7.5303 0.469668Z' fill='%23282922'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: 15px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 48px;
  height: 48px;
  min-width: 48px;
}

.btn-swiper-next {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469675 13.5303C0.176775 13.2374 0.176775 12.7625 0.469675 12.4696L5.93931 6.99998L0.469675 1.53028C0.176775 1.23738 0.176775 0.762575 0.469675 0.469675C0.762575 0.176775 1.23738 0.176775 1.53028 0.469675L7.53031 6.46968C7.8232 6.76258 7.8232 7.23738 7.53031 7.53028L1.53028 13.5303C1.23738 13.8232 0.762575 13.8232 0.469675 13.5303Z' fill='%23282922'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: 15px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 48px;
  height: 48px;
  min-width: 48px;
}

picture {
  position: relative;
  display: block;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.burger {
  position: relative;
  width: 18px;
  height: 18px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &-line {
    position: relative;
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: $colorWhite;
    transition: all 0.3s;
    pointer-events: none;
    border-radius: 10px;
    overflow: hidden;
  }

  &.opened {
    .burger-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(6px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -3px);
      }
    }
  }

  @include responsive767 {
    display: flex;
    margin-left: auto;
    position: absolute;
    left: 15px;
    top: 20px;
  }
}

@media (min-width: 1200px) {
  body.modal-open {
    overflow: hidden;
    padding-right: 17px;
  }

  _:-webkit-any-link,
  :root body.modal-open {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }

  _:-webkit-any-link,
  :root body.hidden {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }

  _:-webkit-any-link,
  :root body.compensate-for-scrollbar {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }
}
