.grettings {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  z-index: 5;

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    @include before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1;
      pointer-events: none;
      transition: background-color 5s opacity 0.3s;
    }
  }

  &__content {
    margin: auto;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  &__logo {
    transition: transform 3s;
    transform: scale(10);
  }

  &__link {
    opacity: 0;
    transition: opacity 1s 3s;
  }

  &.load {
    .grettings__background {
      &::before {
        background-color: rgba(0, 0, 0, 0.64);
      }
    }

    .grettings__logo {
      transform: scale(1);
    }

    .grettings__link {
      opacity: 1;
    }
  }
  &.close {
    opacity: 0;
    pointer-events: none;
  }
}

.main-section {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: opacity 0.3s;
  pointer-events: none;

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
      pointer-events: none;
    }
  }

  &__inner {
    position: relative;
    z-index: 3;
    transition: all 0.5s;
    transform: translateY(-150px);
  }

  &.visible {
    pointer-events: initial;

    .main-section__inner {
      transform: translateY(0);
    }
  }
}

.portfolio {
  padding: 60px 0;

  &__list {
    background-color: $colorBlack;
    width: 100%;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    border: solid 1px $colorBlack;
  }

  &__item {
    padding-top: calc(480 / 640 * 100%);
    position: relative;
    @include invisLink;
    overflow: hidden;

    @include before {
      opacity: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 16.1%,
        rgba(0, 0, 0, 0.191264) 47.27%,
        rgba(0, 0, 0, 0.7) 95.81%
      );
      z-index: 4;
      pointer-events: none;
    }

    .picture {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .portfolio__content {
        transform: translateY(0);
      }
    }
  }

  &__content {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $colorWhite;
    padding: 40px;
    transform: translateY(100%);
    transition: all 0.3s;
    z-index: 5;
    pointer-events: none;
  }
}

.project {
  width: 100%;
  height: 100%;
  padding: 60px 0 0;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .caption {
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 600;
  }

  &__content {
    padding: 50px 120px;
    color: $colorWhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 300;
    gap: 50px;
    flex: 1;
  }

  &__back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include before {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 2;
      left: 0;
      top: 0;
      backdrop-filter: blur(5px);
    }
  }

  &__left {
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    gap: 16px;

    .caption {
      width: auto;
      text-align: left;
      font-weight: 600;
    }

    ul {
      padding-left: 10px;

      li {
        position: relative;
        padding-left: 20px;

        @include before {
          left: 0;
          top: 8px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $colorWhite;
        }

        & + li {
          margin-top: 16px;
        }
      }
    }
  }

  &__right {
    width: calc(50% - 25px);
    background-color: $colorWhite;
    padding: 30px;
  }
}

.project-navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $colorWhite;
  gap: 41px;
  width: 100%;

  &.navigate--article {
    color: $colorBlack;

    a {
      &::before {
        background-color: $colorBlack;
      }

      &:hover {
        text-decoration-color: $colorBlack;
      }
    }
  }

  a {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration 0.3s;
    position: relative;

    @include before {
      left: calc(100% + 15px);
      top: 50%;
      height: 100%;
      width: 1px;
      background-color: rgb(255, 255, 255);
      transform: rotate(25deg) translateY(calc(-50% - 2px));
    }

    &:last-child {
      &::before {
        display: none;
      }
    }

    &:hover {
      text-decoration-color: $colorWhite;
    }
  }
}

.slider-project {
  .swiper {
  }

  .swiper-wrapper {
  }

  .swiper-slide {
    width: 100%;
    height: 485px;
    position: relative;

    .picture {
      width: 100%;
      height: 100%;
    }
  }

  .picture {
  }

  .swiper-controls {
  }

  .btn-swiper-prev {
  }

  .swiper-pagination {
  }

  .btn-swiper-next {
  }
}

.studio-page {
  padding: 60px 0;
}

.about {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .caption {
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 600;
  }

  &__content {
    padding: 50px 120px;
    color: $colorWhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 300;
    gap: 50px;
    flex: 1;
  }

  &__back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include before {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 2;
      left: 0;
      top: 0;
      backdrop-filter: blur(5px);
    }
  }

  &__left {
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    gap: 16px;

    .caption {
      width: auto;
      text-align: left;
      font-weight: 600;
    }

    ul {
      padding-left: 10px;

      li {
        position: relative;
        padding-left: 20px;

        @include before {
          left: 0;
          top: 8px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $colorWhite;
        }

        & + li {
          margin-top: 16px;
        }
      }
    }
  }

  &__right {
    width: calc(50% - 25px);
    background-color: $colorWhite;
    padding: 30px;
    position: relative;

    .picture {
      padding-top: calc(485 / 800 * 100%);
    }

    .title {
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.1em;
      display: block;
      text-align: center;
      color: $colorBlack;
      margin-top: 30px;
    }
  }
}

.quote {
  padding: 80px 120px;
  background-color: $colorYellow;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: calc(50% + 165px);
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__text {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding: 29px 24px 24px 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 644px;
    height: 135px;
    display: flex;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='712' height='158' viewBox='0 0 712 158' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_d_284_3565)'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M34 14.3291C22.9543 14.3291 14 23.2834 14 34.3291V90.3291C14 101.375 22.9543 110.329 34 110.329H660.456C681.373 110.329 694.201 132.287 698 143.267V110.329V34.3291C698 23.2834 689.046 14.3291 678 14.3291H34Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='filter0_d_284_3565' x='0' y='0.329102' width='712' height='156.938' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3e%3cfeOffset/%3e%3cfeGaussianBlur stdDeviation='7'/%3e%3cfeComposite in2='hardAlpha' operator='out'/%3e%3cfeColorMatrix type='matrix' values='0 0 0 0 0.88973 0 0 0 0 0.841351 0 0 0 0 0.728466 0 0 0 1 0'/%3e%3cfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_284_3565'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_284_3565' result='shape'/%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e ");
    right: -12px;

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.4886 12L7.64636 10.56L13.0944 0L16 1.14462L11.4886 12ZM3.84229 12L0 10.56L5.44803 0L8.35364 1.14462L3.84229 12Z' fill='black'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 12px;
      background-size: contain;
      left: 32px;
      top: 47px;
    }
  }
}

.quote-people {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: auto;
  margin-left: auto;

  &__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  &__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
}

.design {
  display: flex;
}

.design-item {
  cursor: pointer;
  position: relative;
  flex: 1;
  overflow: hidden;
  height: 800px;
  flex-basis: 132px;
  transition: all 0.7s;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: $colorWhite;

  & + .design-item {
    border-left: solid 1px $colorBlack;
  }

  &.active {
    flex-basis: 100%;

    .design-item__name {
      transform: translateY(0);
    }

    .design-item__vertical {
      opacity: 0;
    }

    .picture {
      &::before {
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);

    @include before {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.design-item__name {
  position: absolute;
  left: 120px;
  bottom: 50px;
  text-align: left;
  transition: all 1s;
  transform: translateY(100px);
  white-space: nowrap;
}

.design-item__vertical {
  transform: translateY(0) rotate(180deg);
  writing-mode: vertical-lr;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.price-block {
  padding: 80px 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: $colorYellow;

  &__caption {
    margin-bottom: 30px;
  }

  &__text {
    max-width: 800px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }

  &__item {
    height: 382px;
    @include invisLink;
    position: relative;
    z-index: 3;
    font-size: 14px;
    line-height: 20px;
    color: $colorWhite;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 0px 14px 0px rgba(227, 215, 186, 1);

    & > a {
      display: none;
    }

    .picture {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;

      @include before {
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 16.1%,
          rgba(0, 0, 0, 0.218588) 47.27%,
          rgba(0, 0, 0, 0.8) 95.81%
        );
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        pointer-events: none;
      }
      @include after {
        background: rgba(0, 0, 0, 0.8);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        pointer-events: none;
        opacity: 0;
      }
    }

    &.hover {
      .picture {
        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  .caption {
    display: block;
  }

  &__price {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 16px;
    display: block;
  }

  &__info {
    display: none;
    font-weight: 300;
    padding-top: 16px;

    .btn {
      margin-top: 16px;
      position: relative;
      z-index: 5;
    }
  }
}

.staging {
  padding: 80px 120px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1;

    .caption {
      margin-bottom: 30px;
      display: block;
    }
  }

  &__media {
    width: 815px;
    height: 500px;
    flex: 1;
  }
}

.staging__media {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  --position: 50%;
  box-shadow: 0px 0px 14px 0px rgba(227, 215, 186, 1);

  .image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    img {
      object-fit: cover;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  .image-before {
    position: absolute;
    inset: 0;
    width: var(--position);
    filter: grayscale(100%);
  }

  .slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;
    /* for Firefox */
    width: 100%;
    height: 100%;
  }

  .slider:focus-visible ~ .slider-button {
    outline: 1px solid $colorBlack;
    outline-offset: 3px;
  }

  .slider-line {
    position: absolute;
    inset: 0;
    width: 1px;
    height: 100%;
    background-color: $colorBlack;
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
  }

  .slider-button {
    position: absolute;
    background-color: #fff;
    color: black;
    padding: 0.5rem;
    border-radius: 100vw;
    display: grid;
    place-items: center;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: solid 1px $colorBlack;
  }
}

.publications-slider {
  padding: 80px 120px;
  position: relative;

  &__swiper {
    margin-top: 50px;
    overflow: visible;
  }

  p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .swiper-wrapper {
  }

  .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    .caption {
    }

    .picture {
      width: 100%;
      padding-top: calc(684 / 526 * 100%);
      box-shadow: 0px 0px 14px 0px rgba(227, 215, 186, 1);
    }
  }

  .link-site {
    margin-left: auto;
  }
}

.brands {
  padding: 60px 120px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  &__text {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px 96px;
    margin-top: 50px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .picture {
      width: 100%;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-right: 26px;
    text-transform: uppercase;
    text-decoration: underline;
    transition: text-decoration 0.3s;
    position: relative;
    white-space: nowrap;

    &:hover {
      text-decoration-color: transparent;
    }

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.50016 2.5V11.1667' stroke='black' stroke-linecap='round'/%3e%3cpath d='M5.1665 8.5L8.49984 11.8333L11.8332 8.5' stroke='black' stroke-linecap='round'/%3e%3cpath d='M13.8332 14.5007H3.1665' stroke='black' stroke-linecap='round'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.questions-from {
  padding: 80px 120px;
  position: relative;
  color: $colorWhite;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-image: url("../img/pic-grettings.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  margin-bottom: 40px;

  @include before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .caption {
  }
}

.questions-from__form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 100%;

  .input-item {
    width: calc(100% / 3);
    position: relative;

    input {
      width: 100%;
      border: 0;
      border-bottom: solid 1px $colorWhite;
      padding-bottom: 20px;
      background-color: transparent;
      color: $colorWhite;
    }
  }

  .btn {
    min-width: 209px;
    white-space: nowrap;
  }
}

.catalog {
  padding: 60px 120px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.catalog-item {
  background-color: $colorWhite;
  box-shadow: 0px 0px 14px 0px rgba(227, 215, 186, 1);
  padding: 20px 24px;
  display: flex;
  flex-direction: column;

  &__media {
    padding-top: calc(247 / 220 * 100%);
    position: relative;

    .picture {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      img {
        object-fit: contain;
      }
    }
  }

  .picture {
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
    flex: 1;
    border-top: solid 1px $colorBlack;
    padding-top: 20px;
  }
  &__desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
  }
  &__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
  }
  &__size {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
  }
  &__price {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }
}

.contacts {
  padding: 60px 0 40px;
  position: relative;

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    display: block;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  &__info {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 24px;
    background-color: $colorWhite;
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
    max-width: 448px;

    ul {
      li {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & + li {
          margin-top: 24px;
        }
      }
    }

    a {
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration 0.3s;

      &:hover {
        text-decoration-color: $colorBlack;
      }
    }
  }
}

.map {
  width: 100%;
  height: 781px;
}

.article {
  padding: 60px 120px;
  position: relative;

  &__content {
    & > *:not(.picture, img, div) {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .caption {
    text-align: center;
  }

  .picture {
    padding-top: calc(500 / 1680 * 100%);
    margin: 50px 0;
  }

  p + p {
    margin-top: 16px;
  }

  ul {
    margin-top: 16px;
    padding-left: 10px;

    & + * {
      margin-top: 16px;
    }

    li {
      position: relative;
      padding-left: 20px;

      @include before {
        left: 0;
        top: 8px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $colorBlack;
      }

      & + li {
        margin-top: 16px;
      }
    }
  }

  .project-navigate {
    margin-top: 50px;
  }
}

.article__media {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  .picture {
    width: 50%;
  }
}

.modal {
  .questions-from {
    background: transparent;
    color: $colorBlack;
    padding: 40px;

    &::before {
      display: none;
    }
  }

  .caption {
  }

  .questions-from__text {
    font-size: 16px;
    line-height: 22px;
  }

  .questions-from__form {
    flex-direction: column;
    gap: 40px;
    max-width: 100%;
    width: 100%;
  }

  .input-item {
    width: 100%;
    max-width: 100%;
    position: relative;

    input {
      border-color: $colorBlack;
      color: $colorBlack;
    }
  }
}

.error-text {
  display: none;
  position: absolute;
  right: 0;
  top: calc(50% - 8px);
  transform: translateY(-50%);
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  color: rgba(255, 135, 135, 1);
  padding-left: 18px;

  @include before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 0C4.81331 0 3.65328 0.351894 2.66658 1.01118C1.67989 1.67047 0.910851 2.60754 0.456726 3.7039C0.00259972 4.80026 -0.11622 6.00666 0.115291 7.17054C0.346802 8.33443 0.918247 9.40353 1.75736 10.2426C2.59648 11.0818 3.66558 11.6532 4.82946 11.8847C5.99335 12.1162 7.19975 11.9974 8.2961 11.5433C9.39246 11.0892 10.3295 10.3201 10.9888 9.33342C11.6481 8.34673 12 7.18669 12 6C12 4.4087 11.3679 2.88258 10.2426 1.75736C9.11742 0.632141 7.5913 0 6 0ZM6 11C5.0111 11 4.0444 10.7068 3.22215 10.1573C2.39991 9.60794 1.75904 8.82705 1.38061 7.91342C1.00217 6.99979 0.90315 5.99445 1.09608 5.02455C1.289 4.05464 1.76521 3.16373 2.46447 2.46447C3.16373 1.7652 4.05465 1.289 5.02455 1.09607C5.99446 0.903148 6.99979 1.00216 7.91342 1.3806C8.82705 1.75904 9.60794 2.3999 10.1574 3.22215C10.7068 4.04439 11 5.01109 11 6C11 7.32608 10.4732 8.59785 9.53554 9.53553C8.59785 10.4732 7.32609 11 6 11Z' fill='%23FF8787'/%3e%3cpath d='M6.00024 4.84966C5.86763 4.84966 5.74045 4.90234 5.64668 4.99611C5.55292 5.08988 5.50024 5.21705 5.50024 5.34966V8.74966C5.50024 8.88227 5.55292 9.00945 5.64668 9.10322C5.74045 9.19698 5.86763 9.24966 6.00024 9.24966C6.13285 9.24966 6.26002 9.19698 6.35379 9.10322C6.44756 9.00945 6.50024 8.88227 6.50024 8.74966V5.34966C6.50024 5.21705 6.44756 5.08988 6.35379 4.99611C6.26002 4.90234 6.13285 4.84966 6.00024 4.84966ZM6.00024 2.79966C5.86488 2.80475 5.73661 2.86147 5.64176 2.95818C5.54692 3.05488 5.4927 3.18423 5.49024 3.31966V3.39966C5.49 3.4649 5.50335 3.52947 5.52943 3.58927C5.55551 3.64906 5.59375 3.70278 5.64172 3.74699C5.6897 3.7912 5.74635 3.82493 5.80807 3.84605C5.86979 3.86718 5.93524 3.87521 6.00024 3.86966C6.13127 3.86471 6.25559 3.81045 6.3483 3.71773C6.44102 3.62501 6.49529 3.50069 6.50024 3.36966V3.24966C6.50063 3.18611 6.48756 3.1232 6.46189 3.06507C6.43621 3.00694 6.39852 2.9549 6.35128 2.91239C6.30404 2.86988 6.24834 2.83785 6.18783 2.81842C6.12733 2.79899 6.06339 2.7926 6.00024 2.79966Z' fill='%23FF8787'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
  }
}

.input-item.error {
  input {
    border-color: rgba(255, 135, 135, 1);
  }

  .error-text {
    display: block;
  }
}

.step-number {
  display: flex;
  flex-direction: column;
  gap: 55px;
  width: 600px;
  height: 565px;

  @include before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='602' height='567' viewBox='0 0 602 567' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1H439.71C528.788 1 601 60.9429 601 134.886V149.614C601 223.557 528.788 283.5 439.71 283.5H162.29C73.2121 283.5 1 343.443 1 417.386V432.114C1 506.057 73.2122 566 162.29 566H601' stroke='white' stroke-dasharray='10 10'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 565px;
    position: absolute;
    left: 10px;
    top: 35px;
    z-index: -1;
  }

  .num {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px $colorWhite;
    background-color: $colorBlack;

    &:nth-child(2n) {
      margin-left: auto;
    }

    &:nth-child(2) {
      transform: translateY(14px) translateX(43px);
    }

    &:nth-child(3) {
      transform: translateY(170px) translateX(-28px);
    }

    &:nth-child(4) {
      transform: translateY(182px) translateX(32px);
    }

    &.active {
      background-color: $colorWhite;
      color: $colorBlack;
    }
  }
}

.steps {
  position: relative;
  padding: 80px 120px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $colorWhite;

  & > .caption {
    margin-bottom: 50px;
    width: 100%;
    position: relative;
    z-index: 3;
  }

  &__left {
    width: 50%;
    position: relative;
    z-index: 5;
  }

  &__right {
    width: 50%;
    max-width: 759px;
    position: relative;
    z-index: 5;
  }

  .link-site {
    margin-left: auto;
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s;

    &::before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.46 0.81C11.4092 0.687825 11.3121 0.590737 11.19 0.54C11.1299 0.514379 11.0653 0.50079 11 0.5H0.999969C0.867361 0.5 0.740184 0.552679 0.646416 0.646447C0.552648 0.740215 0.499969 0.867392 0.499969 1C0.499969 1.13261 0.552648 1.25979 0.646416 1.35355C0.740184 1.44732 0.867361 1.5 0.999969 1.5H9.79497L0.644969 10.645C0.598105 10.6915 0.560908 10.7468 0.535524 10.8077C0.51014 10.8686 0.49707 10.934 0.49707 11C0.49707 11.066 0.51014 11.1314 0.535524 11.1923C0.560908 11.2532 0.598105 11.3085 0.644969 11.355C0.691451 11.4019 0.746751 11.4391 0.807681 11.4644C0.868611 11.4898 0.933964 11.5029 0.999969 11.5029C1.06598 11.5029 1.13133 11.4898 1.19226 11.4644C1.25319 11.4391 1.30849 11.4019 1.35497 11.355L10.5 2.205V11C10.5 11.1326 10.5526 11.2598 10.6464 11.3536C10.7402 11.4473 10.8674 11.5 11 11.5C11.1326 11.5 11.2598 11.4473 11.3535 11.3536C11.4473 11.2598 11.5 11.1326 11.5 11V1C11.4992 0.934661 11.4856 0.870111 11.46 0.81Z' fill='white'/%3e%3c/svg%3e ");
    }
  }
}

.slider-steps {
  position: relative;
  z-index: 5;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    &.swiper-slide-active {
      .slider-steps__title {
        transform: translateY(0);
        opacity: 1;
      }

      .slider-steps__content {
        transform: translateY(0);
        opacity: 1;

        p + p {
          margin-top: 16px;
        }
      }

      .picture {
        transform: translateY(0);
        opacity: 1;
      }

      .link-site {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 30px;
    align-items: center;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s;
  }

  &__content {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.7s;
  }

  &__num {
    font-size: 64px;
    line-height: 64px;
  }

  .picture {
    padding-top: calc(350 / 759 * 100%);
    width: 100%;
    margin-top: 50px;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s;
  }
}

.steps-picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  @include before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    pointer-events: none;
  }

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    filter: blur(5px);

    &.active {
      opacity: 1;
    }
  }
}
